* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(110deg, #fdcd3b 50%, #ffed4b 50%);
}


/* Header content */
.header-container {
    color: white;
    background-color:black; 
    border: 4px solid black;
    height: 100px;
    padding: 8px;
    font-size: 1.5rem;
 
}

.head-menu { 
    width: 80%;
    margin: 26px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;  
   
}

.links {
    display: flex;
    gap: 46px;
   
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: orange;
}

/* End of Header Content */

/* Game Content */

.game-container {
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 36px;
    gap: 10%;
}

.player-side, 
.cpu-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

}
.player-choice, 
.cpu-choice {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    
}


