* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@media only screen and (max-width: 300px) {
    body {
      background-size: cover;
    }
  }

@font-face {
    font-family: Game;
    src: url('../fonts/ARCADECLASSIC.TTF');
}

:root {
    height: 100%;
    width: 100%;
}

body {
    background: url('https://66.media.tumblr.com/49528ca4af8ebf4bb76e47f6ed84ae4b/tumblr_mugu1zCf9v1rfjowdo1_500.gif') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 2em;
}

/* hEADER */
.header-container {
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-title {
    font-size: 3.5rem;
    font-family: Game, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
}

.header-container p {
    font-family: Game, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
}


/* Game Content */
.game-content {
    grid-row: 2 / 5;
    display: flex;
    flex-direction: column;
    gap: 2em;
    color: blue;
}

.display-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3em;

}

.display {
    width: 33rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(80, 80, 80, 0.9);
}

.results-message, 
.final-winner {
    font-family: Game, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: clamp(1rem, 0.7000rem + 1.3333vw, 2rem);
    font-weight: bold;
}


.player-choice,
.cpu-choice {
    height: 12.5rem;
    width: 12.5rem;
    border: 8px solid black;
    border-radius: 20px;
    padding: 1em;
    background-color: #cbd5e1;
}

.player-score,
.cpu-score {
    font-size: clamp(2rem, 1.1000rem + 4.0000vw, 5rem);
    font-family: Game, Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.choices-container {
    display: flex;
    justify-content: center;
    gap: 4em;
}

.choices {
    height: 12.5rem;
    width: 12.5rem;
    border: 8px solid black;
    border-radius: 20px;
    padding: 1em;
    background-color: #cbd5e1;

}

.choices:hover {
    cursor: pointer;
    background-color: rgba(80, 80, 80, 0.8);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}


.button-container {
    display: flex;
    justify-content: center;
    gap: 1em;
}
.reset-button {
    width: 8rem;
    height: 3rem;
    border: 4px solid black;
    border-radius: 12px;
    font-size: 2rem;
    font-family: Game, Georgia, 'Times New Roman', Times, serif;
}

.mute {
    width: 8rem;
    height: 3rem;
    border: 4px solid black;
    border-radius: 12px;
}

#music-icon {
    width: 2rem;
    height: 2rem;
}

.reset-button:hover,
.mute:hover {
    cursor: pointer;
    background-color: rgba(80, 80, 80, 0.8);
}


.footer-container {
    display: flex;
    justify-content: center;
    gap: 2em;
    grid-row: -1;
    padding-top: 3em;
    font-size: 2rem;
    color: black;
}

.footer-container img {
    height: 2rem;
    transition: ease 0.5s all;
}

.footer-container img:hover {
    filter: invert(95%) sepia(2%) saturate(1683%) hue-rotate(188deg) brightness(101%) contrast(88%);
    rotate: 2turn;
}